body {
    --main-color: #2B4074;
}
.container {
    width: 100%;
    background-color: var(--main-color);
}
.header {
    position: relative;
    width: 1440px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    position: absolute;
    width: 100px;
    height: 65px;
    left: 61px;
    top: 17px;
    background: url("../images/logo.png");

}
.menu-button {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 3px;
    left: 1250px;
    top: 30px;
}
